.chat-main
  .main-header
    .main-header__leftbox
      %p.main-header__leftbox__current-group
        グループ名
        %ul.main-header__leftbox__member-list
          Member :
          %li.main-header__leftbox__member-list__member
            name
      
    .main-header__edit-btn
      %a(href="#")Edit
  
  .messages
    .message
      .message__info
        %p.message__info__name
          name
        %p.message__info__date
          2020/4/13(mon) 18:00:00
      .message__text
        test
      
  
  .form
    %form.new-message
      .input-box
        %input{class: "input-box__text", placeholder: "type a message", type: "text"}
        %label{class: "input-box__image"}
          =icon('fas', 'image') 
          %input{class: "input-box__image__file",type: "file",}
      
      %input{class: "submit-btn", type: "submit", name: "commit", value:"Send"}

      


        