.chat-side
  .header
    .header__box
      %p.header__box__username
        = current_user.name
      %ul.header__box__menu
        %li.new-group
          =link_to new_group_path do
            =icon('fas', 'edit')
        %li.edit-user
          =link_to "" do
            =icon('fas', 'cog')
  
  .groups
    =link_to "#", class:"group" do
      %p.group__group-name
        techcamp
      %p.group__latest-message
        まだメッセージがありません